* {
    font-family: georgia;
}

body {
    background: url("../img/dog1.jpeg");
    align-items: center;
}

a {
    font-variant: small-caps;
    color: rgb(40, 1, 32);
    font-size: 18px;
    border: 3px solid purple;
    background-color: rgb(240, 239, 216);
}

table {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    border: 3px solid purple;
    background-color: rgb(240, 239, 216);
}

thead th:nth-child(1) {
    width: 10%;
}

thead th:nth-child(2) {
    width: 10%;
}

thead th:nth-child(3) {
    width: 10%;
}

thead th:nth-child(4) {
    width: 10%;
}

th,
td {
    padding: 20px;
}